<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="StylosCss/Sectiones.css">
</head>
<body>
<main>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 text-center">
        <h1>TodoRopa</h1>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column">
    <section class="d-flex justify-content-center align-items-center">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtEM7zpnhrPKt3pdteMwrLTsvL8YMLHf_M_A&usqp=CAU" alt="arrow" style="height: 300px; width: 500px; margin-right: 10px;" />
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFvcaMrYZjSzlWV-0qvms42TRBRMJt0YpA-A&usqp=CAU" alt="arrow" style="height: 300px; width: 500px; margin-left: 10px;" />
    </section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <section>
            <p class="text-center" style="font-size: 22px;">¡Bienvenido a TiendaRopa! Sumérgete en un mundo de elegancia y comodidad con nuestra 
              cuidadosa selección de moda. Desde prendas clásicas hasta tendencias modernas, tenemos todo lo que necesitas 
              para expresar tu estilo único. Explora nuestra colección y encuentra la pieza perfecta que complemente tu personalidad.
              En la seccion de productos encontraras todos nuestros modelos.<br>
              ¡Descubre la moda sin esfuerzo con TiendaRopa</p>
          </section>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>