<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/StylosCss/logeo.css">
  <title>Document</title>
</head>
<body>
    <div class="container">
      <h2>Iniciar sesión</h2>
      <form>
        <input type="text" id="email" name="username" placeholder="Usuario" required>
        <input type="password" id="password" name="password" placeholder="Contraseña" required>
        <button type="button"  id="login">Iniciar sesion</button>
        <button type="button"  id="newSessionConGoogle">Iniciar sesion con Google</button>
        <button type="button"  id="github">Iniciar sesion con GitHub</button>
      </form>
    </div>
</body>
<script src="/script/login.js"></script>
</html>