<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/StylosCss/real.css">
  <title>Document</title>
</head>
<body>
<main class="flex-grow-1 p-3 m-auto my-2 d-flex w-100">
  <section class="w-50 bg-light">
    <h3 style="color: black;">Products</h3>
    <article id="productos" class="d-flex flex-wrap"></article>
  </section>
  <section class="w-50">
    <form class="w-50 m-auto my-5">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input type="text" class="form-control" id="Title" />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Potho</label>
        <input type="text" class="form-control" id="Photo" />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Price</label>
        <input type="number" class="form-control" id="Price" />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Stock</label>
        <input type="number" class="form-control" id="Stock" />
      </div>
      <button id="newProduct" type="button" class="btn btn-primary">Create
        Products</button>
    </form>
  </section>
</main>
<script src="/script/real.js"></script>  
</body>
</html>

